In [8]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [9]:
data = pd.read_csv(r'C:\Users\Ingrid\Desktop\DAFT Nov 21\Labs done\Labs module 2\Lab 5\movie_metadata.csv\movie_metadata.csv')
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [10]:
data.shape

(5043, 28)

In [11]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### 2. Use crosstabs to show the number of moovies per country

In [15]:
pd.crosstab(data.movie_title, data.country, margins=True, margins_name="Total")

country,Afghanistan,Argentina,Aruba,Australia,Bahamas,Belgium,Brazil,Bulgaria,Cambodia,Cameroon,...,Sweden,Switzerland,Taiwan,Thailand,Turkey,UK,USA,United Arab Emirates,West Germany,Total
movie_title,,,,,,,,,,,,,,,,,,,,,
#Horror,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
10 Cloverfield Lane,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
10 Days in a Madhouse,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
10 Things I Hate About You,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
102 Dalmatians,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
xXx: State of the Union,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
xXx,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Ã†on Flux,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Total,1,4,1,55,1,4,8,1,1,1,...,6,3,2,5,1,448,3807,1,3,5038

In [24]:
print((data['country'] == 'Australia').sum())
print((data['country'] == 'USA').sum())

55
3807

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [26]:
pd.crosstab(data.movie_title, data.director_name, values=data.country, aggfunc='mean')

DataError: No numeric types to aggregate

In [ ]:
genres

### 4. Average duration of filmes grouped by color

In [29]:
pd.crosstab(data.color, columns=data.duration , values=data.duration, aggfunc='mean').round(0)

duration,7.0,11.0,14.0,20.0,22.0,23.0,24.0,25.0,27.0,28.0,...,271.0,280.0,286.0,289.0,293.0,300.0,325.0,330.0,334.0,511.0
color,,,,,,,,,,,,,,,,,,,,,
Black and White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Color,7.0,11.0,14.0,20.0,22.0,23.0,24.0,25.0,27.0,28.0,...,271.0,280.0,286.0,289.0,293.0,300.0,325.0,330.0,334.0,511.0

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [ ]:
pd.crosstab(data.director_name, values=df.curb_weight, aggfunc='mean').round(0)